:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(215, 215, 215, 12%);;
}

h2 {
    text-align: center;
}

.login-form {
    width: 370px;
    padding: 20px 30px;
    border: 1px solid rgba(128, 128, 128, 34%);
    border-radius: 20px;
    background: white;
}

.login-form-button {
  width: 100%;
  margin-bottom: 16px;
}
