<nz-input-number [(ngModel)]="pay" 
                 [nzMin]="1" 
                 [nzMax]="max" 
                 [nzStep]="1"
                 nzPlaceHolder="Введіть суму поповнення"
></nz-input-number>

<nz-radio-group [(ngModel)]="pay">
        <label nz-radio-button [nzValue]="payByMonth * 1">{{payByMonth}}</label>
        <label nz-radio-button [nzValue]="payByMonth * 2">{{payByMonth*2}}</label>
        <label nz-radio-button [nzValue]="payByMonth * 3">{{payByMonth*3}}</label>
</nz-radio-group>

<div *nzModalFooter>
    <button nz-button 
            nzType="default" 
            (click)="cancel()"
            >Відмінити</button>
    <button nz-button 
            nzType="primary" 
            (click)="save()" 
            [disabled]="!pay"
            >Зберегти</button>
</div>